<ion-header>
  <ion-toolbar>
    <ion-title>Free Guy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/zEAl0w90NxNcXtFPlHyivFlZkbt.jpg">
    </ion-card-header>
    <ion-card-content>
      <h1>Free Guy </h1>
        <ion-chip color="success">
          79%
        </ion-chip>
        <h1>Free Guy</h1>
        <p>19/08/2021 - 1h 55m</p>

    </ion-card-content>

    <ion-item>
      <ion-badge color="light">Comédia</ion-badge>
      <ion-badge color="light">Aventura</ion-badge>
      <ion-badge color="light">Ação</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>