<ion-header>
  <ion-toolbar>
    <ion-title>Luca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/9jPa6SlUYxPFMVZlEuceiPPAA15.jpg">
    </ion-card-header>
    <ion-card-content>
      <h1>Luca</h1>
        <ion-chip color="success">
          84%
        </ion-chip>
        <p>17/06/2021 - 1h 41m</p>

    </ion-card-content>

    <ion-item>
      <ion-badge color="light">Comédia</ion-badge>
      <ion-badge color="light">Família</ion-badge>
      <ion-badge color="light">Animação</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
