<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

<ion-list>
  <ion-item lines="full" routerLink="/f1">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fBJducGBcmrcIOQdhm4BUBNDiMu.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Becket</h1>
        <p>13/08/2021 - 1h42m</p>
        <ion-badge color="light">Aventura</ion-badge>
        <ion-badge color="light">Fantasia</ion-badge>
      </div>
    </ion-label>
    <ion-chip>
      <ion-label color="warning" outline>62%</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item lines="full" routerLink="/f2">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/zEAl0w90NxNcXtFPlHyivFlZkbt.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Free Guy</h1>
        <p>19/08/2021 - 1h 55m</p>
        <ion-badge color="light">Comédia</ion-badge>
        <ion-badge color="light">Aventura</ion-badge>
        <ion-badge color="light">Ação</ion-badge>
      </div>
    </ion-label>
    <ion-chip>
      <ion-label color="success" outline>79%</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item lines="full" routerLink="/f3">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ef2ozkE4AiWwRnyfc9s05sEtAIT.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Infiltrado</h1>
        <p>27/05/2021 - 1h59m</p>
        <ion-badge color="light">Ação</ion-badge>
        <ion-badge color="light">Crime</ion-badge>
      </div>
    </ion-label>
    <ion-chip>
      <ion-label color="success" outline>79%</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item lines="full" routerLink="/f4">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/9jPa6SlUYxPFMVZlEuceiPPAA15.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Luca</h1>
        <p>17/06/2021 - 1h41m</p>
        <ion-badge color="light">Animação</ion-badge>
        <ion-badge color="light">Familia</ion-badge>
        <ion-badge color="light">Comédia</ion-badge>
        <ion-badge color="light">Fantasia</ion-badge>
      </div>
    </ion-label>
    <ion-chip>
      <ion-label color="success" outline>84%</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item lines="full" routerLink="/f5">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>The Flash</h1>
        <p>07/10/2014 - 1h42m</p>
        <ion-badge color="light">Drama</ion-badge>
        <ion-badge color="light">Fantasia</ion-badge>
      </div>
    </ion-label>
    <ion-chip>
      <ion-label color="success" outline>78%</ion-label>
    </ion-chip>
  </ion-item>





</ion-list>



</ion-content>
