<ion-header>
  <ion-toolbar>
    <ion-title>Becket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fBJducGBcmrcIOQdhm4BUBNDiMu.jpg">
    </ion-card-header>
    <ion-card-content>
      <h1>Becket
        <ion-chip color="warning">
          62%
        </ion-chip>
      </h1>
      
      <p>13/08/2021 - 1h42m</p>
    </ion-card-content>

    <ion-item>
      <ion-badge color="light">Aventura</ion-badge>
      <ion-badge color="light">Fantasia</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
