<ion-header>
  <ion-toolbar>
    <ion-title>The Flash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
    </ion-card-header>
    <ion-card-content>
      <h1>The Flash</h1>
        <ion-chip color="success">
          78%
        </ion-chip>
        <p>07/10/2014 - 1h 42m</p>

    </ion-card-content>

    <ion-item>
      <ion-badge color="light">Drama</ion-badge>
      <ion-badge color="light">Fantasia</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>