<ion-header>
  <ion-toolbar>
    <ion-title>Infiltrado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ef2ozkE4AiWwRnyfc9s05sEtAIT.jpg">
    </ion-card-header>
    <ion-card-content>
      <h1>Infiltrado</h1>
        <ion-chip color="success">
          79%
        </ion-chip>
        <p>27/05/2021 - 1h 59m</p>

    </ion-card-content>

    <ion-item>
      <ion-badge color="light">Ação</ion-badge>
      <ion-badge color="light">Crime</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
